In [1]:
import pandas as pd

In [4]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-02.parquet')

In [6]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-02-01 00:04:45,2024-02-01 00:19:58,1.0,4.39,1.0,N,68,236,1,20.5,1.0,0.5,1.28,0.00,1.0,26.78,2.5,0.00
1,2,2024-02-01 00:56:31,2024-02-01 01:10:53,1.0,7.71,1.0,N,48,243,1,31.0,1.0,0.5,9.00,0.00,1.0,45.00,2.5,0.00
2,2,2024-02-01 00:07:50,2024-02-01 00:43:12,2.0,28.69,2.0,N,132,261,2,70.0,0.0,0.5,0.00,6.94,1.0,82.69,2.5,1.75
3,1,2024-02-01 00:01:49,2024-02-01 00:10:47,1.0,1.10,1.0,N,161,163,1,9.3,3.5,0.5,2.85,0.00,1.0,17.15,2.5,0.00
4,1,2024-02-01 00:37:35,2024-02-01 00:51:15,1.0,2.60,1.0,N,246,79,2,15.6,3.5,0.5,0.00,0.00,1.0,20.60,2.5,0.00
5,1,2024-02-01 00:55:17,2024-02-01 01:01:53,1.0,0.80,1.0,N,79,4,1,7.9,3.5,0.5,2.55,0.00,1.0,15.45,2.5,0.00
6,2,2024-02-01 00:04:53,2024-02-01 00:17:07,1.0,2.76,1.0,N,249,163,1,14.2,1.0,0.5,3.84,0.00,1.0,23.04,2.5,0.00
7,2,2024-02-01 00:35:00,2024-02-01 00:43:37,1.0,2.51,1.0,N,163,151,1,12.8,1.0,0.5,3.56,0.00,1.0,21.36,2.5,0.00
8,2,2024-02-01 00:00:15,2024-02-01 00:05:07,1.0,1.37,1.0,N,246,48,2,7.9,1.0,0.5,0.00,0.00,1.0,12.90,2.5,0.00
9,2,2024-02-01 00:25:55,2024-02-01 00:31:52,1.0,1.59,1.0,N,107,233,1,9.3,1.0,0.5,2.86,0.00,1.0,17.16,2.5,0.00